:root {

    /* color */
    --col-black-: #000;
    --col-gray-: #666666;
    --col-blue-: #1A9FFF;
    --col-white-: #FFF;
    --col-lwhite-: #F0F0F0;

    /* font-size */
    --fs-sm-: 18px;
    --fs-s-: 14px;
    --fs-md-: 24px;
    --fs-lg-: 36px;
}

.col-black {
    color: var(--col-black-);
}

.col-gray {
    color: var(--col-gray-);
}

.fs-sm {
    font-size: var(--fs-sm-);
}

.fs-s {
    font-size: var(--fs-s-);
}

@media (max-width:576px) {
    :root {
        /* font-size */
        --fs-sm-: 12px;
        --fs-s-: 8px;
        --fs-md-: 18px;
        --fs-lg-: 24px;
    }

}