@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}


.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}


.gap-15 {
    gap: 15px;
}


.gap-20 {
    gap: 20px;
}

.gap-59 {
    gap: 59px;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.logo {
    color: var(--col-black-);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg-);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li a {
    color: var(--col-gray-);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm-);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 50ms linear;
}

li a:hover {
    color: var(--col-black-);
}

.pt-33 {
    padding-top: 33px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-35px {
    margin-top: 35px;
}


.navbar {
    background: var(--col-white-);
}

.mt-75 {
    margin-top: 75px;
}

.mt-110 {
    margin-top: 110px;
}

.mw-lg-225 {
    max-width: 225px;
}

.card-box {
    border-radius: 30px;
    background: var(--col-white-);
    box-shadow: 0px 38px 85px -19px rgba(0, 0, 0, 0.10);
    max-width: 1320px;
    width: 100%;
    transform: translateY(-250px);
    padding: 39px 38px 38px 39px;
    margin-bottom: -130px;
}

.bg-image {
    background-image: url(../images/background-image.png);
}

.bg-image {
    width: 1920px;
    height: 412px;
    flex-shrink: 0;
    width: 100%;
}

.heart-icon {
    left: 30px;
    bottom: 20px;
}

.like-number {
    left: 35px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--col-white-);
}

.sms-icon {
    left: 118px;
    bottom: 20px;
}

.sms-number {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--col-white-);

}
.share-icon{
    right: 40px;
    bottom: 22px;
    color: var(--col-white-);
}


.play-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-name {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg-);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile-id {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm-);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md-);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.name-id {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s-);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-box {
    border-radius: 25.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: var(--col-white-);
    max-width: 315px;
    padding: 8px 24px;
}

.search-in {
    outline: none;
    border: none;
}

/* .modal-content {
    position: relative;
    flex-direction: column;
    width: 1320px !important;
    height: 716px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
} */

.border-bottom {
    max-width: 1243px;
    height: 2px;
    opacity: 0.2;
    background: var(--col-black-);
    margin-top: 52px;
    margin-bottom: 23px;
}

.profile-bio {
    max-width: 1243px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm-);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.nav-ball {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;

}

.slider.round {
    border-radius: 34px;
}

.nav-ball input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid var(--col-gray-);
    background-color: var(--col-lwhite-);
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: -2px;
    bottom: -1px;
    background-color: var(--col-black-);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #F0F0F0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(17px);
}

.slider.round:before {
    border-radius: 50%;
}

.pr-44 {
    padding-right: 44px;
}


.pl-44 {
    padding-left: 44px;
}

p {
    margin: 0;
}

.btn-1:hover {
    color: var(--col-black-);
    background-color: var(--col-white-);
    border: 1px solid var(--col-black-);
    border-radius: 25.5px;
    padding: 8px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm-);
    font-weight: 600;
    transition: all 150ms linear;
}

.btn-1 {
    color: var(--col-white-);
    border: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm-);
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 25.5px;
    background: var(--col-black-);
    border: none;
    transition: all 150ms linear;
}


.border-right {
    border-right: 1px solid #CCCCCC;
    height: 55px;
}

@media (max-width:768px) {
    .col-md-6 {

        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .profile-id {
        align-items: center;
    }

    .md-d-flex {
        display: flex;
    }

    .md-align-items-center {
        align-items: center;
    }

    .md-justify-center {
        justify-content: center;
    }

    .md-flex-col {
        flex-direction: column;
    }
}


@media (max-width:992px) {
    .menulist {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--col-white-);
        z-index: 4;
        transition: all 300ms linear;
    }

    li a {
        color: var(--col-black-);
    }

    .menulist.active {
        left: 0;
    }

    .menuicon {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menuicon span {
        height: 2px;
        background-color: var(--col-black-);

    }


    .line-1 {
        position: relative;
        right: -10px;
        width: 25px;
        max-width: 50%;
        justify-content: end;
    }

    .line-2 {
        width: 25px;
        max-width: 100%;
    }

    .line-3 {
        width: 25px;
        max-width: 50%;
        justify-content: start;
    }

    .menuicon {
        z-index: 5;
    }

}

@media (max-width:576px) {
    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;

    }


    .logo-image {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    .logo {
        font-size: 22px;
    }

    .card-box {
        padding: 23px 16px 19px 18px;
    }

    .mw-149 {
        max-width: 149px !important;
    }

}